[submodule "themes/ronu-hugo-theme"]
	path = themes/ronu-hugo-theme
	url = https://github.com/softwareyoga/ronu-hugo-theme.git
[submodule "themes/github-style"]
	path = themes/github-style
	url = https://github.com/MeiK2333/github-style.git
